body {
    background-color: #f9fafb;
}

.full-screen {
    height: 100vh;
}

.hundred-percent-width{
    width: 100%;
}

.center-screen {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}

.center-image {
    display: block;
    margin: auto;
}

.center-text{
    text-align: center;
}

.info-block{
    font-family:'Open Sans Condensed', sans-serif;
}

.disable-margin-paragraph{
    margin: 0px;
}

/* -- Slogan --*/
.slogan {
    font-family: 'Lato', sans-serif;;
    color: #838383;
    margin-top: 40px;
    font-size: 1.8em;
    text-align: center;
}

.d-line{
    width: 5em;
    border-color: #838383;
}

.emailBtn{
    margin-top: 1em;
    padding: 0.5em 2em;
    border-radius: 2em;
}